.NavBar{
  position: fixed;
  top: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 3vw;
  height: 100px;
  width: 97vw;
  background-color: transparent;
  z-index: 2;
}

.NavBar img{
  height: 50px;
}

.NavBar a{
  margin-right: 20px;
}