/* .portfolio{
  height: 100%;
  width: 100%;
} */

.projectCard{
  height: 300px;
  width: 400px;
  background-color:rgb(46, 4, 4, .9);
  background-size: cover;
  background-position: center;
}
/* .projectCard{
  display: flex;
  flex-direction: column;
} */

.technologies{
  width: 100%;
  display: flex;
  flex-direction: row;

}

.technologies ul{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.technologies li{
  border: 1px solid black;
  margin: 3px;
  background-color: rgb(56, 56, 56);
  padding: 3px;
}