#calculator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 300px;
  background-color: teal;
}

#screen{
  width: 80%;
  height: 60px;
}

.row{
  display: flex;
  justify-content: space-between;
  
  width: 90%;
  height: 100%;
  background-color: thistle;
  margin: 10px;
}

.column{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  background-color: tomato;
  margin: 10px;
}